*.obj
*.exe
*.dll
*.pdb
*.ilk
*.aps
*.lib
*.idb
*.pch
*.suo
*.exp
*.ilk
*.ncb
*.sdf
*.tlb
*.tlh
*.bak
[Bb]in/
[Dd]ebug*/
[Rr]elease*/

# gerado pelo editor
*.sdf
*.opensdf
*.suo
*.vcxproj.user

# logs
*.log

# usuario
*.user

.vs/